USE [DWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_CAMBIOS]    Script Date: 09/03/2022 07:09:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Catalogo Usuarios
ALTER procedure [dbo].[SP_USUARIOS_CAMBIOS]

@FOLIO         AS INT,
@USUARIO       AS varchar(200),
@CONTRASENA    AS varchar(200),
@TIPO_USUARIO  AS varchar(200),
@NOMBRE        AS varchar(200),
@APATERNO      AS varchar(200),
@AMATERNO      AS varchar(200),
@AREA          AS varchar(200),
@USUARIO_ALTA  AS varchar(200),
@ESTATUS  AS varchar(200)

AS
BEGIN

-- Actualiza información


 UPDATE DWH.[dbo].[INTERFAZ_WEB_USUARIOS]  
    SET CONTRASENA        = LTRIM(RTRIM(@CONTRASENA)),
        TIPO_USUARIO      = IIF(@TIPO_USUARIO='ADMINISTRADOR',1,IIF(@TIPO_USUARIO='ALMACEN',2,3)),
		USUARIO_MODIFICA  = @USUARIO_ALTA,
		FECHA_MODIFICA    = GETDATE(),
		NOMBRE            = @NOMBRE,
		APELLIDO_MATERNO  = @APATERNO,
		APELLIDO_PATERNO  = @AMATERNO,
		AREA              = @AREA,
		ESTATUS           = IIF(@ESTATUS ='ALTA',1,0)
  WHERE FOLIO = @FOLIO  



---- Guarda Registros Historicos

INSERT INTO [dbo].[INTERFAZ_WEB_USUARIOS_HIST]
       (
	   FOLIO,
	   USUARIO,
       CONTRASENA,
	   NOMBRE,
	   APELLIDO_PATERNO,
	   APELLIDO_MATERNO,
	   AREA,
	   TIPO_USUARIO,
	   ESTATUS,
	   USUARIO_ALTA,
	   FECHA_ALTA,
	   USUARIO_MODIFICA,
	   FECHA_MODIFICA
	   )
SELECT FOLIO,
       USUARIO,
       CONTRASENA,
	   NOMBRE,
	   APELLIDO_PATERNO,
	   APELLIDO_MATERNO,
	   AREA,
	   IIF(@TIPO_USUARIO='ADMINISTRADOR',1,IIF(@TIPO_USUARIO='ALMACEN',2,3)) AS TIPO_USUARIO,
	   IIF(ESTATUS='ALTA',1,0) AS ESTATUS,
	   USUARIO_ALTA,
	   FECHA_ALTA,
	   USUARIO_MODIFICA,
	   FECHA_MODIFICA
  FROM [dbo].[INTERFAZ_WEB_USUARIOS] WITH (NOLOCK)
 WHERE USUARIO = @USUARIO




 
END