USE [DWH]
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS_ALTA]    Script Date: 05/03/2022 06:20:25 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Catalogo Usuarios
ALTER procedure [dbo].[SP_USUARIOS_ALTA]

@USUARIO       AS varchar(200),
@CONTRASENA    AS varchar(200),
@TIPO_USUARIO  AS INT,
@NOMBRE        AS varchar(200),
@APATERNO      AS varchar(200),
@AMATERNO      AS varchar(200),
@AREA          AS varchar(200),
@USUARIO_ALTA  AS varchar(200)


AS
BEGIN

TRUNCATE TABLE DWH.[dbo].[INTERFAZ_WEB_USUARIOS_PASO]

INSERT DWH.[dbo].[INTERFAZ_WEB_USUARIOS_PASO]  
      (
	    USUARIO,
		CONTRASENA,
		TIPO_USUARIO,
		USUARIO_ALTA,
		NOMBRE,
		APELLIDO_MATERNO,
		APELLIDO_PATERNO,
		AREA,
		ESTATUS 
		 )
VALUES
		(
		@USUARIO,
		@CONTRASENA,
		@TIPO_USUARIO,
		@USUARIO_ALTA,
		@NOMBRE,
		@APATERNO,
		@AMATERNO, 
		@AREA,
		1
		)     
		
---- Antes de agregar a nuevo usuario revisa que este no exista con anterioridad

INSERT INTO DWH.[dbo].[INTERFAZ_WEB_USUARIOS]
			(
				USUARIO,
				CONTRASENA ,
				TIPO_USUARIO ,
				USUARIO_ALTA ,
				FECHA_ALTA,
				NOMBRE,
				APELLIDO_MATERNO,
				APELLIDO_PATERNO,
				AREA
            )
SELECT PASO.USUARIO,
       PASO.CONTRASENA, 
	   PASO.TIPO_USUARIO, 
	   PASO.USUARIO_ALTA, 
	   GETDATE() AS FECHA_ALTA, 
	   PASO.NOMBRE,
	   PASO.APELLIDO_MATERNO,
	   PASO.APELLIDO_PATERNO,
	   PASO.AREA
  FROM DWH.[dbo].[INTERFAZ_WEB_USUARIOS_PASO] AS PASO WITH (NOLOCK)
WHERE NOT EXISTS (SELECT * FROM DWH.[dbo].[INTERFAZ_WEB_USUARIOS] AS USU WITH (NOLOCK) WHERE PASO.USUARIO = USU.USUARIO )

-- Guarda Registros historicos

INSERT INTO [dbo].[INTERFAZ_WEB_USUARIOS_HIST]
       (
	   FOLIO,
	   USUARIO,
       CONTRASENA,
	   NOMBRE,
	   APELLIDO_PATERNO,
	   APELLIDO_MATERNO,
	   AREA,
	   TIPO_USUARIO,
	   ESTATUS,
	   USUARIO_ALTA,
	   FECHA_ALTA,
	   USUARIO_MODIFICA,
	   FECHA_MODIFICA
	   )
SELECT FOLIO,
       USUARIO,
       CONTRASENA,
	   NOMBRE,
	   APELLIDO_PATERNO,
	   APELLIDO_MATERNO,
	   AREA,
	   TIPO_USUARIO,
	   ESTATUS,
	   USUARIO_ALTA,
	   FECHA_ALTA,
	   USUARIO_MODIFICA,
	   FECHA_MODIFICA
  FROM [dbo].[INTERFAZ_WEB_USUARIOS] WITH (NOLOCK)
 WHERE USUARIO = @USUARIO
 
END